[*.cs]

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
